doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Sakamoto')
    title weather_rpi
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    block css
  body
    block content

    script(type='text/javascript', src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js')
    script(type='text/javascript', src='https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    block js
